@model Task5_Nix.ViewModels.InitialPageView

@{
    ViewData["Title"] = "InitialPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="container-fluid bg-primary mt-xl-4 mb-5">
    <div class="col-md-4 mt-xl-n5 pl-5">

        <form asp-controller="Visitor" asp-action="InitialPage" asp-antiforgery="true" method="post" class="form-inline ml-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pl-5 pb-4">

                <fieldset>
                    <label class="control-label text-light pt-2"> Дата заезда: </label>
                    <input asp-for="CheckIn" class="form-control mr-3 ml-5" />
                    <span asp-validation-for="CheckIn" class="text-danger"></span>
                </fieldset>

                <fieldset>
                    <label class="control-label text-light pt-2"> Дата выезда: </label>
                    <input asp-for="CheckOut" class="form-control ml-3" />
                    <span asp-validation-for="CheckOut" class="text-danger"></span>
                </fieldset>

                <input type="submit" value="Поиск" class="btn btn-secondary mt-4 ml-3" />

            </div>
        </form>
    </div>
</div>

<div id="Results">
    @{await Html.RenderPartialAsync("~/Views/Room/RoomsList.cshtml", Model.Rooms);}
</div>
