@model Task5_Nix.Models.VisitorViewModel

@{
    ViewData["Title"] = "VisitorProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>VisitorProfile</h1>

<h4>VisitorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VisitorProfile" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(m => m.Id, Model.Id)
            </div>
            <div class="form-group">
                <label asp-for="VisitorName" class="control-label"></label>
                <input asp-for="VisitorName" class="form-control" />
                <span asp-validation-for="VisitorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passport" class="control-label"></label>
                <input asp-for="Passport" class="form-control" />
                <span asp-validation-for="Passport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@Html.ActionLink("Удалить аккаунт", "DeleteAccount", "Visitor", new { userId = Model.Id}, new { id= "userId" })

<h5>Ваши заказы: </h5>

@{ await Html.RenderPartialAsync("~/Views/Room/RoomsList.cshtml", TempData["RoomsInfo"]);}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
