@model Task5_Nix.ViewModels.BookRoomVM

@{
    ViewData["Title"] = "BookRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Забронировать комнату № @Model.RoomNumber</h1>

<hr />
<div class="row">
    <div class="col-m-12">
        <form asp-controller="Booking" asp-action="BookRoom" asp-antiforgery="true" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" asp-for="RoomNumber" />
                <input type="hidden" asp-for="RoomFK" />
            </div>

            <div class="row md-10 mb-4">
                <label class="col-sm-5 control-label">Дата заезда:</label>
                <div class="col-sm-7">
                    <input asp-for="MoveIn" class="form-control" />
                </div>
                <span asp-validation-for="MoveIn" class="text-danger"></span>
            </div>

            <div class="row md-10 mb-4">
                <label class="col-sm-5 control-label">Дата выезда:</label>
                <div class="col-sm-7">
                    <input asp-for="MoveOut" class="form-control" />
                </div>
                <span asp-validation-for="MoveOut" class="text-danger"></span>
            </div>

            <div class="row md-10 mb-4">
                <label class="control-label ml-3 mr-3">Цена за ночь:</label>
                <label class="control-label ml-5"> @Model.Price</label>
                <input type="hidden" asp-for="Price" />
            </div>

            <input type="submit" value="Забронировать" class="btn btn-primary" />

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
