@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ">
  
        @if (!User.Identity.IsAuthenticated)
        {
            <li class="nav-item text-light">
                <a class="text-light mr-3" asp-controller="Home" asp-action="RegisterUser">Зарегистрироваться</a>
            </li>
            <li class="nav-item text-light">
                <a class="text-light" asp-controller="Home" asp-action="Login">Войти</a>
            </li>
        }
        else
        if (User.IsInRole("admin"))
        {
            <li class="nav-item text-light">
                <a class="text-light mr-3" asp-controller="Admin" asp-action="AdminMainPage">Администратор</a>
            </li>
            <li class="nav-item text-light">
                <a class="text-light" asp-controller="Home" asp-action="Logout">Выйти</a>
            </li>
        }
        else
        {
            <li class="nav-item text-light">
                <a class="text-light  mr-3" asp-controller="Visitor" asp-action="VisitorProfile">@User.Identity.Name</a>
            </li>
            <li class="nav-item text-light">
                <a class="text-light" asp-controller="Home" asp-action="Logout">Выйти</a>
            </li>
        }
    
</ul>
