@model Task5_Nix.ViewModels.UserRegistrationModel

@{
    ViewData["Title"] = "RegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="offset-4 pl-5">Регистрация</h1>

<hr />
<div class="row">
    <div class="col-m-5 offset-4 pt-4">

        <form asp-controller="Home" asp-action="RegisterUser" asp-antiforgery="true" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row md-10 mb-4">
                <label class="col-sm-5 control-label">Имя пользователя: </label>
                <div class="col-sm-7">
                    <input asp-for="UserName" class="form-control"/>
                </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
             </div>

            <div class="row md-10 mb-4">
                <label class="col-sm-5 control-label">Серия паспорта: </label>
                <div class="col-sm-3">
                    <input asp-for="PassportSeries" class="form-control"/>
                 </div>
                 <span asp-validation-for="PassportSeries" class="text-danger"></span>
             </div>

            <div class="row mb-10 mb-4">
                <label class="col-sm-5 control-label">Номер паспорта: </label>
                <div class="col-sm-7">
                    <input asp-for="PassportNum" class="form-control"/>
                </div>
                <span asp-validation-for="PassportNum" class="text-danger"></span>
             </div>

            <div class="row mb-10 mb-4">
                <label class="col-sm-5 control-label">Пароль: </label>
                <div class="col-sm-7">
                    <input asp-for="Password" class="form-control"/>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="row mb-10 mb-4">
                <label class="col-sm-5 control-label">Повторите пароль: </label>
                <div class="col-sm-7">
                    <input asp-for="RepeatPassword" class="form-control"/>
                 </div>
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
             </div>


             <input type="submit" value="Зарегистрироваться" class="btn btn-primary offset-4" />

</form>

    </div>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
