@model Task5_Nix.ViewModels.AdminPage

@{
    ViewData["Title"] = "AdminMainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Панель администратора</h1>

<h2>Заказы администратора: </h2>

@await Html.PartialAsync("~/Views/Room/RoomsList.cshtml", Model.AdminRooms)

<p>Выручка за последний месяц - @Model.MonthProfit</p>

<p>
    @Html.ActionLink("Создать комнату", "CreateRoom", "Room") |
    @Html.ActionLink("Просмотреть забронированные номера", "BookingList", "Booking")
</p>

<br>
<h5> Список существующих категорий: </h5>
<br>

@await Html.PartialAsync("~/Views/Category/CategoryList.cshtml", Model.Categories)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
