@model Task5_Nix.ViewModels.CategoryCreateModel

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создать категорию</h1>

<hr />
<div class="row">
    <div class="col-m-12">
        <form asp-controller="Category" asp-action="CreateCategory" asp-antiforgery="true" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row md-10 mb-4">
                <label class="col-sm-5  control-label"> Название категории: </label>
                <div class="col-sm-7">
                    <input asp-for="CategoryName" class="form-control" />
                </div>
            </div>

            <div class="row md-10 mb-4">
                <label class="col-sm-5 control-label"> Конечная дата: </label>
                <div class="col-sm-7">
                    <input asp-for="EndDate" class="form-control" />
                </div>
            </div>

            <div class="row md-10 mb-4">
                <label class="col-sm-5 control-label pt-2"> Цена: </label>
                <div class="col-sm-7">
                    <input asp-for="Price" class="form-control " />
                </div>
            </div>

            <input type="submit" value="Создать" class="btn btn-primary offset-3 w-50" />

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
