@model Task5_Nix.ViewModels.RoomCreateModel

@{
    ViewData["Title"] = "CreateRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="offset-1">Создать комнату</h1>

<hr />
<div class="row">
    <div class="col-m-5 offset-1 pt-4">
        <form asp-controller="Room" asp-action="CreateRoom" asp-antiforgery="true" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row md-10 mb-4">
                <label class="control-label text-dark pt-2 mr-3">Номер комнаты:</label>
                <div class="col-sm-7 ">
                    <input asp-for="RoomNumber" class="form-control w-50" />
                </div>
                 <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>

            <div class="row md-10 mb-4">
                <label class="control-label text-dark pt-2 mr-3">Выберите категорию:</label>
                    <options class="mt-2">
                        <select asp-for="CategoryID" asp-items="Model.Categories"></select>
                    </options>
                 <span asp-validation-for="CategoryID" class="text-danger"></span>
             </div>

            
                 <input type="submit" value="Создать" class="btn btn-primary offset-2" />

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
